@import url(./header.css);

:root {
  --Cor-fundo-formulario: ##f3f4f6;
  --Fundo-da-pagina: linear-gradient(to bottom right, #ecfdf5, #ffffff, #f0fdfa);
  --Cor-campo-formulario: #f9fafb;
  --Borda-formulario: #e5e7eb;
  --Fonte-principal: "Poppins", sans-serif;
}
body {
  font-family: var(--Fonte-principal);
  background: var(--Fundo-da-pagina);
}

.icone_viva-bem {
  width: 20%;
}
.Imagem_logo_farmacia {
  width: 70%;
}
